---
import Layout from '@layouts/Layout.astro';
import Nav from '@components/Nav.astro';
---

<Layout title = "Sobre Nosotros">
    <main class="aboutus">
        <Nav />
        <header class="aboutus__header">
            <h1 class="aboutus__title">Sobre Nosotros!</h1>
        </header>
        <section class="aboutus__content">
            <section class="aboutus__content__general">
                <header class="aboutus__content__header">
                    <h2 class="aboutus__content__subtitle">Nuestra Historia</h2>
                </header>
                <figure class="aboutus__ilustration">
                    <img class="aboutus__ilustration__img" src="../../public/images/aboutus-ilustration.jpg" alt="restaurant">
                </figure>
                <p class="aboutus__content__text">
                    Fundado en 2012 en el corazón de la ciudad, Restaurante El Sabor del Tiempo nació del sueño de unir la tradición culinaria con un enfoque moderno y cercano. Comenzamos con una pequeña cocina, algunas recetas heredadas y una gran pasión por los sabores auténticos.
                    Con el paso de los años, hemos crecido gracias al cariño de nuestros comensales y al compromiso de brindar platos que cuentan una historia en cada bocado. Hoy, seguimos fieles a nuestra esencia: ingredientes frescos, atención al detalle y el deseo de hacer sentir a cada cliente como en casa.
                    Ya sea en una comida casual, una cena romántica o una celebración especial, en El Sabor del Tiempo creemos que cada experiencia debe dejar una huella… como un buen recuerdo.
                </p>
            </section>
            <section class="aboutus__content__team">
                <header class="aboutus__content__header">
                    <h2 class="aboutus__content__subtitle">Nuestro Equipo</h2>
                </header>
                <figure class="aboutus__ilustration">
                    <img class="aboutus__ilustration__img" src="../../public/images/aboutus-team.jpg" alt="team">
                </figure>
                <p class="aboutus__content__text">
                    Detrás de cada plato hay talento, creatividad y una enorme dedicación. Nuestro equipo de chefs está compuesto por profesionales apasionados por la cocina, formados en distintas partes del mundo y unidos por una visión común: llevar a tu mesa lo mejor de la gastronomía con un toque único.
                    Liderados por el chef ejecutivo Martín Del Río, nuestro equipo combina técnicas tradicionales con innovación constante. Desde platos de autor hasta reinterpretaciones de recetas clásicas, cada creación refleja el trabajo en equipo y el amor por lo que hacemos.
                    Porque para nosotros, cocinar no es solo preparar alimentos: es compartir emociones, contar historias y generar conexiones. Estamos orgullosos de tener un equipo que cocina con el alma, para personas que disfrutan con el corazón.
                </p>
            </section>
        </section>
    </main>

    <style>
        
        .aboutus{
            padding: 2em;
            background-color: var(--color-bg-wrapper);
            
        }
        .aboutus__header{
            display: flex;
            flex-direction: column;
            height: 25vh;
            text-align: center;
            justify-content: center;
        }
        .aboutus__title{
            font-size: 2.7em;
            font-family: var(--font-family-title);
            color: var(--color-gold-cta);
        }
        
        .aboutus__content{
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 3em;
        }
        .aboutus__content__general, .aboutus__content__team{
            display: flex;
            flex-direction: column;
            gap: 1em;
        }
        .aboutus__content__subtitle{
            font-family: var(--font-family-title);
            font-size: 2em;
            color: var(--color-gold-cta);
        }
        .aboutus__ilustration{
            max-width: 100vw;
        }
        .aboutus__ilustration__img{
            width: 100vw;
        }
        .aboutus__content__text{
            font-family: var(--font-family-text);
            font-size: 1.4em;
            text-wrap: balance;
            color: grey;
        }

        @media screen and (min-width : 1200px) {

            .aboutus__content__general, .aboutus__content__team{
                display: grid;
                grid-template-columns: 50% 50% ;
                grid-template-rows: 1fr;
                gap: 1em;
            }
            .aboutus__content__header{
                grid-column: 1/-1;
            }
            .aboutus__ilustration{
                grid-column: 1/2;
                
                height: 100%;
            }
            .aboutus__content__text{
                grid-column: 2/3;
                max-width: 98%;
            }
            .aboutus__ilustration__img{
                height: 500px;
            }
        }
        @media screen and (min-width : 1400px) {
            .aboutus__ilustration__img{
                height: 410px;
            }
        }
        @media screen and (min-width : 1650px) {
        .aboutus__ilustration__img{
            height: 350px;
        }
        }
    </style>
</Layout>