---
import Layout from "../layouts/Layout.astro"
---

<Layout>
    <main class="contact">
        <header class="contact__header">
            <h1 class="contact__title">Contactenos</h1>
        </header>
        <section class="contact__info">
            <h2 class="contact__subtitle">Por favor complete los campos para poder ponernos en contacto con usted</h2>
            <form class="contact__form" novalidate>
                
            </form>
        </section>
    </main>
</Layout>