---
import { DataContactInput } from "src/mocks/DataContact.astro"
import Layout from "../layouts/Layout.astro"
import Input from "@components/Input.astro"
---

<Layout>
    <main class="contact">
        <header class="contact__header">
            <h1 class="contact__title">Contactenos</h1>
        </header>
        <section class="contact__info">
            <h2 class="contact__subtitle">Por favor complete los campos para poder ponernos en contacto con usted</h2>
            <form class="contact__form" novalidate>
                <section class="contact__items">
                    {
                        DataContactInput.map( (input) =>{
                            return <Input {...input}></Input>
                        } )
                    }
                    <label class="contact__label" for="message">Mensaje</label>
                    <textarea name="message" id="message" rows="4" placeholder="Ingrese su mensaje o comentario..."></textarea>
                </section>
                <button type="submit" id="contact_send" >Enviar</button>
            </form>
            <p class="contact__thank">Muchas gracias por su mensaje!!!</p>
        </section>
    </main>

    <style>
        .contact{
            background-color: var(--color-bg-wrapper);
        }
        .contact__title{
            text-align: center;
            font-family: var(--font-family-title);
            font-size: 2em;
            padding: 0.5em 0;
            color: var(--color-gold-cta);
        }
        .contact__subtitle{
            font-family: var(--font-family-text);
            font-size: 1.3em;
            color: rgb(153, 157, 119);
            text-align: center;
        }
        .contact__form{
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 1em;
            padding: 1em 0;
        }
        .contact__items{
            display: flex;
            flex-direction: column;
            align-items: center;
            text-align: center;
            gap: 0.5em;
        }
        .contact__label{
            font-family: var(--font-family-text);
            font-size: var(--size-text);
            color: oklch(0.74 0.0168 138.28);
        }
        #message{
            background-color: oklch(0.3987 0.0291 48.28);
            line-height: 1;
            color: white;
            width: 70vw;
        }
        #contact_send{
            border-radius: 18px;
            width: 150px;
            border: none;
            background-color: rgb(25, 133, 50);
            font-family: var(--font-family-text);
            font-size: 1.2em;
        }
        .contact__thank{
            font-family: var(--font-family-text);
            text-align: center;
            color: var(--color-gold-cta);
        }
    </style>
</Layout>