
<aside class="aside-filter">
    <ul class="menu-categories"> 
        <li>
            <button id="todos" class="button-menu active">Todos</button>
        </li>
        <li>
            <button id="clasicos" class="button-menu">Clásicos</button>
        </li>
        <li>
            <button id="pastas" class="button-menu">Pastas</button>
        </li>
        <li>
            <button id="minutas" class="button-menu">Minutas</button>
        </li>
        <li>
            <button id="postres" class="button-menu">Postres</button>
        </li>
    </ul>
</aside>


<style>
    /**Category Filter **/
    .aside-filter{
        display: flex;
        justify-content: center;
        padding: 1rem;
    }
    .menu-categories {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 1rem;
        border: solid #dee2e6 1px; /* fallback */
        border: solid oklch(0.902 0.007 233.84) 1px; 
        padding: 1.2rem;
        list-style: none;
        background-color: #eeeeeece; /* fallback */
        background-color: oklch(0.935 0.004 109.71 / 0.81); 
    }
    .button-menu{
        border: 0;
        color: #000000; /* fallback */
        color: oklch(0 0 0);
        background-color: transparent;
        cursor: pointer;
        display: flex;
        align-items: center;
        gap: 1rem;
        transition: ease .3s;
        font-size: 1rem;
        font-family: var(--font-family-text);
        font-weight: 500;
    }
    .button-menu::hover{
        color:#C19D60; /* fallback */
        color: oklch(0.755 0.163 79.88);
    }
    .button-menu.active{
        font-weight: 700;
        color: #C19D60; /* fallback */
        color: oklch(0.755 0.163 79.88);
    }
    /* Tablets (≥768px) */
    @media screen and (min-width: 768px) {
        .aside-filter , .menu-categories{
            padding: 2rem;
        }
    }

    /* Desktops (≥992px) */
    @media screen and (min-width: 992px) {
        .aside-filter , .menu-categories{
            padding: 2rem;
        }
    }

    /* Large desktops (≥1200px) */
    @media screen and (min-width: 1200px) {
        .aside-filter , .menu-categories{
            padding: 2rem;
        }
    }
</style>