<footer>
    <div class="footer">
        <a href="https://www.facebook.com/" target="_blank" class="icon-fb">
            <i class="fa-brands fa-facebook"></i>
        </a>
        <a href="https://twitter.com/" target="_blank" class="icon-tw">
            <i class="fa-brands fa-twitter"></i>
        </a>
        <a href="https://ar.pinterest.com/" target="_blank" class="icon-pin">
            <i class="fa-brands fa-pinterest"></i>
        </a>
        <a href="https://www.instagram.com/" target="_blank" class="icon-ig">
            <i class="fa-brands fa-instagram"></i>
        </a>
        <a href="https://web.telegram.org/" target="_blank" class="icon-tel"> 
            <i class="fa-brands fa-telegram"></i>
        </a>
    </div>
</footer>

<style>
.footer {
  height: 4rem;
  padding: 0 0.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #000;
  border-top: 1px #00000024 solid;
}
.footer a {
  width: 3rem;
  height: 3rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #fff; 
  text-decoration: none;
  font-size: 1.5rem;
  color: #fff;
  transition: background-color 0.3s ease, color 0.3s ease; 
}

.icon-fb:hover i,
.icon-tw:hover i,
.icon-ig:hover i,
.icon-pin:hover i,
.icon-tel:hover i {
    color: #FFFFFF;
}
.icon-fb:hover {
  background-color: #1877f2;
}
 .icon-tw:hover{
    background-color: #1da1f2;
}
.icon-ig:hover {
  background-color: #e4405f;
}
.icon-pin:hover {
  background-color: #bd081c;
}
.icon-tel:hover {
  background-color: #2ca5e0;
}
</style>