
<nav class="nav">
    <div>
        <a class="link-logo" href="/">
            <h3 class="logo-nav">Restó Bodegón</h3>
        </a>
    </div>
    <div class="menu-bars">
        <i class="fa-solid fa-bars"></i>
    </div>
    <ul class='navbar'>
        <li><a class="link-a" href="/">Home</a></li>
        <li><a class="link-a" href="/menu">Menú</a></li>
        <li><a class="link-a" href="/aboutus">Nosotros</a></li>
        <li><a class="link-a" href="reservation">Reservas</a></li>
        <li><a class="link-a" href="contact">Contactenos</a></li>
    </ul>
</nav>
<div class='offcanvas'>
    <button class='close-button'>X</button>
    <ul class='cnt-ul'>
        <li><a class="link-a" href="/">Home</a></li>
        <li><a class="link-a" href="/menu">Menú</a></li>
        <li><a class="link-a" href="/aboutus">Nosotros</a></li>
        <li><a class="link-a" href="reservation">Reservas</a></li>
        <li><a class="link-a" href="contact">Contactenos</a></li>
    </ul>
</div>


<style>

.nav{
    background-color: rgba(255, 255, 255, 0.42);
    backdrop-filter: blur(10px);
    border-radius: 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 2em 3em;
    box-shadow: 0 8px 32px rgba(0, 0, 0, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.2);
    position: fixed;
    top: 4em;
    left: 5em;
    z-index: 1000;
    width: 90%;
    height: 70px;
    box-sizing: border-box;
} 

.floating-nav.scrolled .nav-container {
    background-color: rgba(255, 255, 255, 0.98);
    box-shadow: 0 12px 40px rgba(0, 0, 0, 0.15);
    transform: translateY(5px);
}

.link-logo{
    color: #361414;
    text-decoration: none;
}
.logo-nav{
    font-family: var(--font-family-title);
}
.menu-bars{
    display: block;
}
.menu-bars i {
    font-size: 1.2rem;
}

.navbar, .cnt-ul{
    display: flex;
    list-style: none;
    gap: 1.5em;
}

.navbar{
    flex-direction: row;
}
.cnt-ul{
    flex-direction: column;
}

.link-a{
    text-transform: uppercase;
    font-family: var(--font-family-text);
    color: #222222;
    text-decoration: none;
    font-weight: 600;
    font-size: 0.9rem;
    transition: ease .5s;
    letter-spacing: 1.8px;
}
.link-a:hover{
    color: var(--color-gold-cta);
}

/**Offcanvas */ 

.offcanvas{
    position: fixed;
    top: 0;
    right: 0;
    width: 300px;
    height: 100%;
    box-shadow: -2px 0 10px rgba(0, 0, 0, 0.2);
    transform: translateX(100%); 
    transition: transform 0.3s ease-in-out;
    z-index: 999;
    overflow-y: auto;
    padding: 2em;
    display: flex;
    gap: 4em;
    flex-direction: column;
    padding: 16px;
    border-bottom: 1px solid #ddd;
    background-color: #f9f9f9;
    text-align: center;
}

.offcanvas.open{
    transform: translateX(0%);
}
.close-button{
    background: none;
    border: none;
    font-size: 1rem;
    display: flex;
    color: #000000;
    font-weight: 600;
    font-family: var(--font-family-text);
}

    /* Mobile*/
    @media screen and (max-width: 767.99px){
        .cnt-ul{
            display:flex;
        }
        .link-a{
            font-size: 1.2rem;
        }
        .navbar{
            display: none;
        } 
        .logo-nav{
            font-size: 1rem;
        }
    }
     /* Tablets (≥768px) */
    @media screen and (min-width: 768px) {

        .cnt-ul{
            display:flex;
        }
        .navbar{
            display: none;
        }    
        .logo-nav{
            font-size: 1.2rem;
        }
    }

    /* Desktops (≥992px) */
    @media screen and (min-width: 992px) {
        .menu-bars{
            display: none;
        }
        .navbar{
            display:flex;
        }
        .logo-nav{
            font-size: 1.3rem;
        }
        .offcanvas{
            display:none;
        }
    }

    /* Large desktops (≥1200px) */
    @media screen and (min-width: 1200px) {
        .menu-bars{
            display: none;
        }
        .navbar{
            display:flex;
        }
        .logo-nav{
            font-size: 1.5rem;
        }
        .offcanvas{
            display:none;
        }
    }

</style>

<script>

    document.addEventListener('DOMContentLoaded', () => {
        const $closeBtn = document.querySelector('.close-button');
        const $iconMenu = document.querySelector('.menu-bars');
        const $navMobile = document.querySelector('.offcanvas');

        $iconMenu.addEventListener('click', () => {
            $navMobile.classList.add('open');
        })

        $closeBtn.addEventListener('click', () => {
            $navMobile.classList.remove('open');
        })

    })

</script>