---
const { name, price, image } = Astro.props;
---

<div class="producto">
    <div class="producto-imagen">
        <img src={image} alt={name} />
    </div>
    
    <div class="producto-detalles">
        <h3 class="producto-titulo">{name}</h3>
        <p class="producto-precio">${price}</p>
    </div>
</div>

<style>
    /**Product Card**/
    .producto {
        position: relative;
        overflow: hidden;
        border: 1px solid rgba(0, 0, 0, 0.1); /* fallback */
        border: 1px solid oklch(0 0 0 / 0.1);
        border-radius: 1rem;
        box-shadow: 0 2px 6px rgba(0, 0, 0, 0.05); /* fallback */
        box-shadow: 0 2px 6px oklch(0.3 0.02 250 / 0.08);
        transition: transform 0.3s ease;
        background-color: #fff; /* fallback */
        background-color: oklch(1 0 0); 
        cursor: pointer;
        width: 80%;
}
    .producto-imagen{
        width: 100%;
        aspect-ratio: 4 / 2;
        overflow: hidden;
    }
    .producto-imagen img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 1rem 1rem 0 0;
    }

    .producto:hover {
        box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15); /* fallback */
        box-shadow: 0 8px 20px oklch(0.4 0.04 40 / 0.15);
        transform: translateY(-4px);
        transition: box-shadow 0.4s ease, transform 0.4s ease;
    }

    .producto-detalles {
        padding: 2.2rem 1.2rem;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        gap: 1rem;
        font-family: "Libre Baskerville", serif;
        font-style: normal;
    }

    .producto-titulo {
        font-size: 1.1rem;
        margin: 0;
    }

    .producto-precio {
        margin-bottom: 0;
        font-size: 1rem;
        margin: 0;
        color: #C19D60; /* fallback */
        color: oklch(0.755 0.163 79.88);
        font-weight: 900;
    } 
    /* Tablets (≥768px) */
    @media screen and (min-width: 768px) {
        .producto{
            width: 100%;
        }
    }

    /* Desktops (≥992px) */
    @media screen and (min-width: 992px) {
        .producto{
            width: 100%;
        }
    }

    /* Large desktops (≥1200px) */
    @media screen and (min-width: 1200px) {
        .producto{
            width: 90%;
        }
    }
</style>