---
const { title } = Astro.props;
import Nav from '@components/Nav.astro';
import Footer from '@components/Footer.astro';
---


<!doctype html>
<html lang="es">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/png" href="/favicon.png" />
		<meta name="generator" content={Astro.generator} />
		<!---FONTS -->
		<link rel="preconnect" href="https://fonts.googleapis.com" />
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
		<link href="https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet" />
		<!---ICONS- FONTAWESOME-->
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" />
		<title>{title}</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
	</head>
	<body>
		<Nav />
		<slot />
		<Footer />
	</body>
</html>

<style is:global>
	/* RESET de CSS */
	*, *::before, *::after {
		box-sizing: border-box;
		margin: 0;
		padding: 0;
	}

	html {
		font-size: 16px;
	}

	body {
		overflow-x: hidden;
		min-height: 100vh;
	}

	img, picture, video, canvas, svg {
		display: block;
		max-width: 100%;
	}

	input, button, textarea, select {
		font: inherit;
	}
	a {
		text-decoration:none;
	}
	:root{
        /***Colors*/
        --color-bg-wrapper : oklch(0.232 0.0069 161.58);  
        --color-bg-form : oklch(0.3387 0.0069 183.81); 

        --color-gold-cta: oklch(0.69 0.1154 85.34); /**color doradito - call to action*/ 

        /***Fonts*/
        --font-family-title : "Libre Baskerville", serif; /*Primary*/ 
        --font-family-text : "Roboto", sans-serif; /*Secondary*/

       
        --color-text : oklch(0.9312 0.0168 78.99);
        --size-text: 0.9rem;
        --size-text-tablet: 1.1rem;
        --size-text-desktop: 1.5rem;
        --size-text-error: 0.9rem;
        --size-text-error-tablet: 1.2rem;
		
        --size-input : 55%;
        --size-input-tablet : 63%;
        --size-input-height-tablet : 3.2vh;
        --size-input-height-desktop : 5vh;
        --size-input-width-desktop : 23vw;
    }
</style>

